<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}Gestion{% endblock %}</title>
  
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('build/admin.css') }}" />
    {% endblock %}

  <!-- Custom styles for this template -->
  <link href="css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    {% block body %}
    {% endblock %}

    {% block javascripts %}
        <script type="text/javascript" src="{{asset('build/runtime.js')}}"></script>
        <script type="text/javascript" src="{{asset('build/admin.js')}}"></script>
    {% endblock %}

</body>

</html>
